<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<title>영화인지도조사 - 관리자</title>

<div th:replace="/admin/fragments/header :: header-css" />
<div th:replace="/admin/fragments/header :: header-js" />
</head>
<body>
  <div th:replace="/admin/fragments/header :: header" />






















  <div id="NE_CONTENTS">
    <div id="ADMIN_CONTENTS" style="padding-rignt: 30px;"></div>

  </div>
  <!-- /.container -->

  <div th:replace="/admin/fragments/footer :: footer" />

</body>
</html>