<script type="text/javascript" src="/js/admin/question-mang.js" charset="UTF-8"></script>

<div class="frame-wrapper">
  <div class="frame-inner">
    <div class="frame-left">
      <div class="tab_wrap">
        <ul class="tab">
          <li tab-edge="list" class="on"><span>&nbsp;질문지 리스트</span></li>
        </ul>
      </div>
      <div id="tab_contents_edge_left" style="padding: 10px;"></div>
    </div>
    <div class="frame-center">
      <button type="button" id='two_division_bar' class="btn btn-xs btn-default-gray" style='cursor: ew-resize;'>
        <i class="fa fa-arrows-h"></i>
      </button>
    </div>
    <div class="frame-right">
      <div class="tab_wrap">
        <ul class="tab">
          <li tab-edge="form1" class="on">&nbsp;질문지 정보</li>
          <li tab-edge="form2">&nbsp;질문 항목</li>
        </ul>
      </div>
      <div id="tab_contents_edge_right" style="padding: 10px;"></div>
    </div>
  </div>
</div>