<script type="text/javascript" src="/js/admin/target-list.js" charset="UTF-8"></script>

<!-- 탭 컨텐츠 시작 -->
<div id="G_HEADER_FIEXD_EDGE">
  <!-- 상단 고정된 영역 -->
  <form name="fmSrch" id="fmSrch">
    <!-- 현재페이지 -->
    <input type="hidden" name="pageNumber" id="pageNumber" value="" />
    <!-- 한페이지 레코드 수 -->
    <input type="hidden" name="pageLimit" id="pageLimit" value="" />
    <!-- 정렬 방법 -->
    <input type="hidden" name="orderBy" id="orderBy" value="" />
  </form>

  <div style="height: 10px;"></div>

  <div class="list_title_edge" style="margin: auto">
    <span id="ctrl_TARGET_GRID_TITLE" class="title_right"></span>
  </div>
  <div style="height: 5px;"></div>
</div>

<div id="G_CONTENTS_EDGE" class="contents">
  <div id="ctrl_TARGET_GRID" class="list_edge"></div>
</div>
